<div class="navbar-nav ml-auto">
    <a class="cmpe-tile nav-item nav-link sensors-nav" href="/overview">
        <div class="cmpe-tile-img">
            <img src="images/selection.png">
        </div>
        <div class="cmpe-tile-text">
            <span class="align-middle">Home</span>
        </div>
    </a>
      <a class="cmpe-tile nav-item nav-link quiz-nav" data-href="/views/templates/chart-table-fragment.html">
        <div class="cmpe-tile-img">
            <img src="images/possible-message-icon.png">
        </div>
        <div class="cmpe-tile-text">
            <span class="align-middle">Quiz</span>
        </div>
    </a>
      <a class="cmpe-tile nav-item nav-link exams-nav" data-href="/views/templates/chart-table-fragment.html">
        <div class="cmpe-tile-img">
            <img src="images/possible-message-icon.png">
        </div>
        <div class="cmpe-tile-text">
            <span class="align-middle">Exams</span>
        </div>
    </a>
      <a class="cmpe-tile nav-item nav-link homework-nav" data-href="/views/templates/chart-table-fragment.html">
        <div class="cmpe-tile-img">
            <img src="images/billing-icon-7.jpg">
        </div>
        <div class="cmpe-tile-text">
            <span class="align-middle">Homework</span>
        </div>
    </a>
      <a class="cmpe-tile nav-item nav-link reading-nav" data-href="/views/templates/chart-table-fragment.html">
        <div class="cmpe-tile-img">
            <img src="images/greencircle.png">
        </div>
        <div class="cmpe-tile-text">
            <span class="align-middle">Reading</span>
        </div>
    </a>
  </div>