<div class="course-heading">
    <p>COR003 - General Science</p>
</div>
    <div class="course-info-table">
            <table style="height: 571px;" border="1" width="633">
            <tbody>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Instructor:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Jerry Gao</p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Office Location:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">ENG 271</p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Email:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;"><a href="mailto:jerry.gao@sjsu.edu">jerry.gao@sjsu.edu</a><a href="https://pnguyen.slack.com" class="external" target="_blank" rel="noreferrer noopener"><span><span></span><span class="screenreader-only">&nbsp;(Links to an external site.)</span></span><span class="ui-icon ui-icon-extlink ui-icon-inline" title="Links to an external site."><span class="screenreader-only">Links to an external site.</span></span></a></p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Office Hours:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Saturdays, 2:00 pm – 4:00 pm (by appointment only)</p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Class Days/Time:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Tuesday, 1:00 pm – 3:45 pm (Section 1)</p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Classroom:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">ENG 189</p>
            </td>
            </tr>
            </tbody>
            </table>
    </div>
    <div class="course-info-notification">
        <div class="notification-todo">
            <div class="notification-todo-heading">
                <span>To Do</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">CMPE 202 MIDTERM OPTION</a><br/>
                <span>125 points <br/>13 Apr at 23:59</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">Please Note the following Due Date Changes</a><br/>
                <span>21 Apr at 10:34</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">CMPE 202 - LAB #10 - AspectJ & Feature IDE</a><br/>
                <span>5 points <br/>27 Apr at 23:59</span>
            </div>
        </div>
        <div class="notification-course-group">
            <div class="notification-course-heading">
                <span>Course Group</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">Spattern Marshalls</a><br/>
            </div>
            <div class="notification-item">
                <a class="notification-link">Blue Alliance</a><br/>
            </div>
        </div>
        <div class="notification-feedback"></div>
    </div>