<ul class="video-suggestion-list list-group"></ul>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="image-parent">
            <a href="/pdfs/Chapter_1-_Early_Exploration_and_Settlement.pdf">Early Exploration and Settlement</a>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="image-parent">
            <a href="/pdfs/Chapter_2-_English_Colonies.pdf">English Colonies</a>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="image-parent">
            <a href="/pdfs/Chapter_3-_American_Revolution.pdf">American Revolution</a>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="image-parent">
            <a href="/pdfs/Chapter_4-_Forming_a_Government.pdf">Forming a Government</a>
        </div>
    </li>
    
</ul>