<div class="course-heading">
    <p>GEO0017 - Geography</p>
</div>
    <div class="course-info-table">
            <table style="height: 571px;" border="1" width="633">
            <tbody>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Instructor:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Mridula Jain</p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Office Location:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Classroom 145</p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Email:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;"><a href="mailto:mridula.jain@spc.edu">mridula.jain@spc.edu</a><a href="https://mridula.slack.com" class="external" target="_blank" rel="noreferrer noopener"><span><span></span><span class="screenreader-only">&nbsp;(Links to an external site.)</span></span><span class="ui-icon ui-icon-extlink ui-icon-inline" title="Links to an external site."><span class="screenreader-only">Links to an external site.</span></span></a></p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Office Hours:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Monday - Friday, 4:00 pm – 6:00 pm </p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Class Days/Time:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Monday to Friday, 11:00 pm – 11:45 pm (Section 1)</p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Classroom:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Classroom 181</p>
            </td>
            </tr>
            </tbody>
            </table>
    </div>
    <div class="course-info-notification">
        <div class="notification-todo">
            <div class="notification-todo-heading">
                <span>To Do</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">Geography MIDTERM </a><br/>
                <span>100 marks <br/>13 Apr at 11:59</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">Please Note the following Due Date Changes</a><br/>
                <span>21 Apr at 10:34</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">Geography  - Homework #10 - Maps </a><br/>
                <span>10 marks <br/>27 Apr at 11:59</span>
            </div>
        </div>
        <div class="notification-course-group">
            <div class="notification-course-heading">
                <span>Course Group</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">Red Team</a><br/>
            </div>
            <div class="notification-item">
                <a class="notification-link">Red Team</a><br/>
            </div>
        </div>
        <div class="notification-feedback"></div>
    </div>