<div class="course-heading">
    <p>POS0023 - Political Sciences</p>
</div>
    <div class="course-info-table">
            <table style="height: 571px;" border="1" width="633">
            <tbody>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Instructor:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Deepthi Nandan </p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Office Location:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Classroom 114</p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Email:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;"><a href="mailto:deepthi.nandan@sjsu.edu">deepthi.nandan@sjsu.edu</a><a href="https://deepthin.slack.com" class="external" target="_blank" rel="noreferrer noopener"><span><span></span><span class="screenreader-only">&nbsp;(Links to an external site.)</span></span><span class="ui-icon ui-icon-extlink ui-icon-inline" title="Links to an external site."><span class="screenreader-only">Links to an external site.</span></span></a></p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px; padding-left: 30px;"><strong>Slack:</strong></td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;"><a href="https://deepthin.slack.com" class="external" target="_blank" rel="noreferrer noopener"><span><span>https://pnguyen.slack.com</span><span class="screenreader-only">&nbsp;(Links to an external site.)</span></span><span class="ui-icon ui-icon-extlink ui-icon-inline" title="Links to an external site."><span class="screenreader-only">Links to an external site.</span></span></a></p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Office Hours:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Monday to Friday, 4:00 pm – 5:30 pm </p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Class Days/Time:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Monday to Friday, 3:00 pm – 3:45 pm (Section 3)</p>
            </td>
            </tr>
            <tr>
            <td style="width: 201.5px;">
            <p style="padding-left: 30px;"><strong>Classroom:</strong></p>
            </td>
            <td style="width: 411.5px;">
            <p style="padding-left: 30px;">Classroom 128</p>
            </td>
            </tr>
            </tbody>
            </table>
    </div>
    <div class="course-info-notification">
        <div class="notification-todo">
            <div class="notification-todo-heading">
                <span>To Do</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">Political Science MIDTERM</a><br/>
                <span>100 marks <br/>13 Apr at 11:59</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">Please Note the following Due Date Changes</a><br/>
                <span>05 May at 11:34</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">Political Science Final Exam</a><br/>
                <span>100 marks <br/>20 May at 12:59</span>
            </div>
        </div>
        <div class="notification-course-group">
            <div class="notification-course-heading">
                <span>Course Group</span>
            </div>
            <div class="notification-item">
                <a class="notification-link">Sapphire Team</a><br/>
            </div>
            <div class="notification-item">
                <a class="notification-link">Sapphire Team</a><br/>
            </div>
        </div>
        <div class="notification-feedback"></div>
    </div>